[run]
branch = True
omit = *migrations*,
       *urls*,
       *test*,
       *admin*,
       ./manage.py,
       ./nftport-backend-task/config/*,
       ./nftport-backend-task/wsgi.py,
       *__init__*
